/* General Container */
.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BBBBBB;
    width: 100%;
    height: 100vh;
}

/* Dashboard Content */
.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(4px * 20);
    height: calc(4/5 * 100%);
    width: calc(9/10 * 100%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    background-color: white;
    overflow-y: auto;
    border-radius: 0.5rem;
    padding: calc(4px * 6);
}

/* Inner Div */
.inner-div {
    width: 100%;
}

/* Header */
.dashboard-header {
    font-size: 1.875rem;
    line-height: calc(2.25 / 1.875);
    font-weight: bold;
    margin-bottom: calc(4px * 6);
}

/* Stats Section */
.stats-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 24px;
}

.stat-card {
    padding: 16px;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transition: transform 0.2s ease-in-out;
}

.stat-card:hover {
    transform: scale(1.05);
}

.stat-card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: calc(1.75 / 1.25);
    text-transform: capitalize;
}

.stat-card.classrooms, .stat-card.classrooms:hover {
    background-color: oklch(0.902 0.063 306.703);
    color: oklch(0.438 0.218 303.724);
}

.stat-card.users, .stat-card.users:hover {
    background-color: oklch(0.901 0.058 230.902);
    color: oklch(0.443 0.11 240.79);
}

.stat-card.reports, .stat-card.reports:hover {
    background-color: oklch(0.92 0.004 286.32);
    color: oklch(0.274 0.006 286.033);
}

/* Logs & Reports */
.logs-reports {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

/* Logs */
.recent-logs,
.recent-reports {
    background-color: #fffbeb;
    padding: 16px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.recent-logs {
    background-color: oklch(0.962 0.059 95.617);
}

.recent-reports {
    background-color: oklch(0.968 0.007 247.896);
}

.recent-logs h2,
.recent-reports h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.log-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    margin-top: 1rem;
}

.log-item p {
    font-weight: 600;
}

.log-action {
    font-weight: 600;
}

.log-details-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.log-details, .log-time {
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    color: oklch(0.446 0.03 256.802);
}

/* Reports */
.report-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid black;
}

.report-status {
    padding: 4px 8px;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    font-weight: 600;
}

.report-status.in.progress {
    background-color: oklch(0.945 0.129 101.54);
    color: oklch(0.476 0.114 61.907);
}

.report-status.completed {
    background-color: oklch(0.925 0.084 155.995);
    color: oklch(0.448 0.119 151.328);
}

.report-status.open {
    background-color: oklch(0.885 0.062 18.334);
    color: oklch(0.444 0.177 26.899);
}

@media (min-width: 40rem) {
    .stats-section {
        grid-template-columns:repeat(3, 1fr);
    }
}

@media (min-width: 48rem) {
    .logs-reports {
        grid-template-columns: repeat(2, 1fr);
    }
}