@import "tailwindcss";

@theme {
  --color-dark-red-primary-1: #911B0C;
  --color-light-red-primary-2: #E8422C;
  --color-red-primary-3: #AD1905;
  --color-grey-secondary-darker-1: #888888;
  --color-grey-secondary-lighter-1: #BBBBBB;
  --color-text-secondary-grey-1: #687169;
}



#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}